/* FIRST HOME SECTION */

.firstHomeSection {
    background-image: url("../../images/homeimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(17, 17, 17);
    height: 85em;
}


.contentIntroContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.contentIntroContainer p {
    margin-top: 6em;
    width: 50%;
    text-align: center;
}

.teaserContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/* SECOND HOME SECTION */

.secondHomeSection {
    background-image: url("../../images/jonsnow.jpg");
    background-position: center;
    background-size: cover;
    height: 85em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.familyTree, .characters, .mackingoff {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 4em 0;
    width: 90em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 2em 0;
    min-height: 17em;
    
}

.familyTree p, .characters p, .mackingoff p {
    width: 50%;
}

.familyTree img, .characters img, .mackingoff img {
    border-radius: 10px;
}

.seeMoreButton {
    border-radius: 10px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.5em;
    font-weight: bold;
}

.seeMoreButton:hover {
    background-color: white;
    color: black;
}