footer {
    background-color: #101113b6;
    width: 100%;
    display: flex;
    
}

.footerNav {
    margin: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;   
}


.footerNav li {
    margin: 0.5em 0;
}

.footerNav a:hover {
    color: rgb(151, 150, 150);
}