.div {
    width: 13em;
    height: 13em;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.div button {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.4em 1.5em;
}

.div button:hover {
    color: grey;
}